$def with (content)
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>$web.ctx.session.webname</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

		<link href="/static/inc/css/bootstrap.min.css?$web.ctx.session.version" rel="stylesheet">
    <link href="/static/inc/css/bootstrap-theme.min.css?$web.ctx.session.version" rel="stylesheet">
    <link href="/static/inc/css/animate.min.css" rel="stylesheet">
    <link href="/static/inc/css/56fa629212.css" rel="stylesheet">
		<link href="/static/css/reset.css?$web.ctx.session.version" rel="stylesheet">
		<link href="/static/css/site.css?$web.ctx.session.version" rel="stylesheet">
		<link href="/static/inc/css/style.css?$web.ctx.session.version" rel="stylesheet">
		<link href="/static/css/file.css?$web.ctx.session.version" rel="stylesheet">
		<link href="/static/codemirror/lib/codemirror.css" rel="stylesheet">
		<link href="/static/codemirror/addon/hint/show-hint.css" rel="stylesheet">
		<link href="/static/codemirror/addon/dialog/dialog.css" rel="stylesheet">
		<link href="/static/codemirror/addon/search/matchesonscrollbar.css" rel="stylesheet">

		<script src="/static/js/jquery-1.10.2.min.js"></script>
		<script src="/static/js/base64.js"></script>
		<script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>

    <script src="/static/inc/jscripts/bootstrap.min.js?$web.ctx.session.version"></script>
    <script src="/static/inc/jscripts/bootbox.min.js?$web.ctx.session.version"></script>
    <script src="/static/inc/jscripts/tinynav.min.js?$web.ctx.session.version"></script>
		<script src="/static/inc/js/scripts.js?$web.ctx.session.version"></script>

		<script src="/static/layer/layer.js"></script>
		<script src="/static/js/script.js?$web.ctx.session.version"></script>
		<script src="/static/codemirror/lib/codemirror.js"></script>
		<script src="/static/codemirror/addon/edit/editAll.js"></script>
		<script src="/static/codemirror/mode/modeAll.js"></script>
		<script src="/static/codemirror/addon/dialog/dialog.js"></script>
		<script src="/static/codemirror/addon/search/search.js"></script>
		<script src="/static/codemirror/addon/scroll/annotatescrollbar.js"></script>

		<!--[if lte IE 9]>
		<script src="/static/js/requestAnimationFrame.js"></script>
		<![endif]-->
	</head>
	<body>

		<div id="wrapper">

        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <img src="/static/inc/img/logo.png" alt="logo">
                <h2 class="pink">Pink<span>MED</span></h2>
            </div>
            <ul class="sidebar-nav">
							<li class="nav-item"><a href="/">Beranda</a></li>
							<li class="nav-item"><a href="javascript:openPath('/opt/slemp/wwwroot');">Kelola Berkas</a></li>
							<li class="nav-item"><a href="javascript:;" onclick="setPassword()">Kata Kunci</a></li>
							<li class="nav-item"><a href="javascript:;" id="dologin">Keluar</a></li>
            </ul>
        </aside>

        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-sm hidden-xs"><a href="#" class="small"><span class="label label-danger">Updata available</span></a></li>
                        <li class="hello hidden-sm hidden-xs"><a href="#"><i class="fa fa-fw fa-user"></i> <span>Welcome Admin</span></a></li>
                        <li><a href="/logout/" class="fa fa-power-off" data-toggle="tooltip" data-placement="bottom" title="Logout"></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <section id="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
												<a style="display: none;" id="defaultPath">$web.ctx.session.configPath</a>
												$:content
                    </div>
                </div>
            </div>
        </section>

    </div>

		<footer class="hidden-xs">
        <a href="https://github.com/sruupl/batflat/issues" target="_blank" class="text-danger"><i class="fa fa-fw fa-bug"></i>Report a bug.</a>
        Created by <a href="http://sruu.pl/" target="_blank">Sruu.pl</a>
    </footer>

	</body>
</html>

<script>
$$("#dologin").click(function(){
	layer.confirm('Apakah Anda benar-benar ingin keluar dari panel?',{closeBtn:2},function(){
		window.location.href = '/login?dologin=True';
	});
	return false;
});

function setPassword(to){
	if(to == 1){
		p1 = $$("#p1").val();
		p2 = $$("#p2").val();
		if(p1 == '' || p1.length < 5){
			layer.msg('Kata sandi baru kosong atau kurang dari 5 digit!',{icon:2});
			return;
		}
		if(p1 != p2){
			layer.msg('Kata sandi yang dimasukkan dua kali tidak sama!',{icon:2});
			return;
		}

		$$.post('/files?action=setPassword','password1='+p1+'&password2='+p2,function(rdata){
			if(rdata.status){
				layer.closeAll();
				layer.msg(rdata.msg,{icon:1});
			}else{
				layer.msg(rdata.msg,{icon:2});
			}
		})
		return;
	}

	layer.open({
		type: 1,
		area: '290px',
		title: 'Ubah kata sandi',
		closeBtn: 2,
		shift: 5,
		shadeClose: false,
		content: "<div class='zun-form-new'>\
				<div class='line'>\
				<label><span>Kata sandi</span></label>\
				<div class='info-r'><input type='password' name='password1' id='p1' value='' placeholder='Kata sandi baru'/></div></div>\
				<div class='line'>\
				<label><span>Ulangi</span></label>\
				<div class='info-r'><input type='password' name='password2' id='p2' value='' placeholder='Ulangi lagi'/></div></div>\
				<div class='submit-btn'><button type='button' class='btn btn-danger btn-sm' onclick=\"layer.closeAll()\">Batal</button>\
				<button type='button' class='btn btn-info btn-sm' onclick=\"setPassword(1)\">Simpan</button></div>\
			</div>"
	});
}
</script>
