$def with (data)
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PinkMED - Dashboard</title>
    <link rel="icon" href="http://pinkmed.id/favicon.png" type="image/x-icon">
    <link href="/static/inc/css/bootstrap.min.css?v=1.0" rel="stylesheet">
    <link href="/static/inc/css/bootstrap-theme.min.css?v=1.0" rel="stylesheet">
    <link href="/static/inc/css/animate.min.css" rel="stylesheet">
    <link href="/static/inc/css/style.css?v=1.0" rel="stylesheet">
    <link href="/static/inc/css/56fa629212.css" rel="stylesheet">
    <script src="/static/inc/jscripts/jquery.min.js"></script>
    <script src="/static/inc/jscripts/bootstrap.min.js?v=1.0"></script>
    <script src="/static/inc/jscripts/bootbox.min.js?v=1.0"></script>
    <script src="/static/inc/jscripts/html.sortable.min.js?v=1.0"></script>
    <script src="/static/inc/jscripts/tinynav.min.js?v=1.0"></script>
    <script src="/static/inc/js/kalypto.min.js?v=1.0"></script>
    <script src="/static/inc/js/selectator.min.js?v=1.0"></script>
    <script src="/static/inc/jscripts/Chart.bundle.min.js"></script>
</head>

<body>

    <div id="wrapper">

        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <img src="/static/inc/img/logo.png" alt="logo">
                <h2 class="pink">Pink<span>MED</span></h2>
            </div>
            <ul class="sidebar-nav">
                            <li class="active" data-module="dashboard">
                    <a href="http://pinkmed.id/admin/dashboard/main?t=de9af0129902"><i class="fa fa-home"></i>Dashboard</a>
                                    </li>
                            <li class="" data-module="modules">
                    <a href="#"><i class="fa fa-plug"></i>Modul</a>
                                        <ul class="collapse">
                                                <li class=""><a href="http://pinkmed.id/admin/modules/manage?t=de9af0129902">Kelola</a></li>
                                                <li class=""><a href="http://pinkmed.id/admin/modules/upload?t=de9af0129902">Unggah</a></li>
                                            </ul>
                                    </li>
                            <li class="" data-module="pasiens">
                    <a href="#"><i class="fa fa-users"></i>Pasien</a>
                                        <ul class="collapse">
                                                <li class=""><a href="http://pinkmed.id/admin/pasiens/manage?t=de9af0129902">Kelola</a></li>
                                                <li class=""><a href="http://pinkmed.id/admin/pasiens/add?t=de9af0129902">Tambah Pasien</a></li>
                                            </ul>
                                    </li>
                            <li class="" data-module="users">
                    <a href="#"><i class="fa fa-user"></i>Pengguna</a>
                                        <ul class="collapse">
                                                <li class=""><a href="http://pinkmed.id/admin/users/manage?t=de9af0129902">Kelola</a></li>
                                                <li class=""><a href="http://pinkmed.id/admin/users/add?t=de9af0129902">Tambah pengguna</a></li>
                                            </ul>
                                    </li>
                            <li class="" data-module="settings">
                    <a href="http://pinkmed.id/admin/settings/general?t=de9af0129902"><i class="fa fa-wrench"></i>Pengaturan</a>
                                    </li>
                        </ul>
        </aside>

        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                                                <li class="hidden-sm hidden-xs"><a href="http://pinkmed.id/admin/settings/updates?t=de9af0129902" class="small"><span class="label label-danger">Update tersedia</span></a></li>
                                                <li class="hello hidden-sm hidden-xs"><a href="#"><i class="fa fa-fw fa-user"></i> <span>Apa kabar <strong>Laura Atikah</strong>?</span></a></li>
                        <li class="hidden-sm hidden-xs"><a href="http://pinkmed.id" target="_blank" class="fa fa-globe" data-toggle="tooltip" data-placement="bottom" title="Tampilkan website"></a></li>
                        <li><a href="http://pinkmed.id/admin/logout?t=de9af0129902" class="fa fa-power-off" data-toggle="tooltip" data-placement="bottom" title="Logout"></a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <section id="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="content-title">Dashboard</h2>
                        <article class="row">
    <div class="col-sm-4">

        <div class="panel panel-default">
              <div class="panel-heading">
                    <h3 class="panel-title">Dokter</h3>
              </div>
              <div class="panel-body">
                    <h1 class="text-center">0</h1>
              </div>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="panel panel-default">
              <div class="panel-heading">
                    <h3 class="panel-title">Pasien</h3>
              </div>
              <div class="panel-body">
                    <h1 class="text-center">6</h1>
              </div>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="panel panel-default">
              <div class="panel-heading">
                    <h3 class="panel-title">Kunjungan</h3>
              </div>
              <div class="panel-body">
                    <h1 class="text-center">0</h1>
              </div>
        </div>

    </div>
</article>

<article class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
              <div class="panel-body">
                    <canvas id="visits"
                    style="width:100%; height:300px;"
                    data-chart="line"
                    data-labels='["04 Jan 2020","05 Jan 2020","06 Jan 2020","07 Jan 2020","08 Jan 2020","09 Jan 2020","10 Jan 2020","11 Jan 2020","12 Jan 2020","13 Jan 2020","14 Jan 2020","15 Jan 2020","16 Jan 2020","17 Jan 2020","18 Jan 2020","19 Jan 2020"]'
                    data-datasets='[
                        {
                            label: "Kunjungan",
                            data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                            backgroundColor: "rgba(255, 87, 34, 0.2)",
                            borderColor: "rgba(255, 87, 34, 1)"
                        }
                    ]'></canvas>
              </div>
        </div>
</article>

<article class="row">
    <div class="col-md-8">
        <div class="row">

                        <div class="module">
                <div class="panel panel-default">
                    <a href="http://pinkmed.id/admin/settings/general?t=de9af0129902" class="panel-body text-center">
                        <div class="panel-thumb">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <h4>Pengaturan</h4>
                    </a>
                </div>
            </div>
                        <div class="module">
                <div class="panel panel-default">
                    <a href="http://pinkmed.id/admin/dashboard/main?t=de9af0129902" class="panel-body text-center">
                        <div class="panel-thumb">
                            <i class="fa fa-home"></i>
                        </div>
                        <h4>Dashboard</h4>
                    </a>
                </div>
            </div>
                        <div class="module">
                <div class="panel panel-default">
                    <a href="http://pinkmed.id/admin/users/manage?t=de9af0129902" class="panel-body text-center">
                        <div class="panel-thumb">
                            <i class="fa fa-user"></i>
                        </div>
                        <h4>Pengguna</h4>
                    </a>
                </div>
            </div>
                        <div class="module">
                <div class="panel panel-default">
                    <a href="http://pinkmed.id/admin/modules/manage?t=de9af0129902" class="panel-body text-center">
                        <div class="panel-thumb">
                            <i class="fa fa-plug"></i>
                        </div>
                        <h4>Modul</h4>
                    </a>
                </div>
            </div>
                        <div class="module">
                <div class="panel panel-default">
                    <a href="http://pinkmed.id/admin/pasiens/manage?t=de9af0129902" class="panel-body text-center">
                        <div class="panel-thumb">
                            <i class="fa fa-users"></i>
                        </div>
                        <h4>Pasien</h4>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default hidden-xs">
            <div class="panel-heading">
                <h3 class="panel-title">Berita</h3>
            </div>
            <div class="panel-body">
                <div class="news">
                                        <div class="news-item">
                        <div class="news-header">
                            <div class="title">
                                <a href="#" target="_blank">Koneksi gagal</a>
                            </div>
                            <time></time>
                        </div>
                        <div class="news-content">
                            <p>Tidak dapat mengunduh berita terbaru dari Batflat.org.</p>
                        </div>
                                            </div>
                                    </div>
            </div>
        </div>
    </div>
</article>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer class="hidden-xs">
        <a href="https://github.com/sruupl/batflat/issues" target="_blank" class="text-danger"><i class="fa fa-fw fa-bug"></i>Report a bug.</a>
        Created by <a href="http://sruu.pl/" target="_blank">Sruu.pl</a>
    </footer>

    <script src="/static/inc/js/scripts.js?v=1.0"></script>
    </body>
</html>
